---
layout: base
title: Media Pages
pagination:
  data: photos.8v50ge9.media
  size: 1
---

<header>
  <h1>{{ title }}</h1>
</header>

<main>
  {% for post in pagination.items -%}
  <h1>{{ pagination.pageNumber | plus: 1 }}. {{post.alt}}</h1>
  <a href="{{post.url}}">
    <img src="{{post.src.landscape}}" />
  </a>
  <h2>By: {{post.photographer}}</h2>
  {% endfor -%}
</main>

<ul
  style="
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
  "
>
  <li><a href="{{ pagination.href.first }}">First</a></li>
  <li>
    {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"
      >Previous</a
    >{% else %}Previous{% endif %}
  </li>

  <li>
    <h2>Page {{ pagination.pageNumber | plus: 1 }}</h2>
  </li>

  <li>
    {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{%
    else %}Next{% endif %}
  </li>
  <li><a href="{{ pagination.href.last }}">Last</a></li>
</ul>

<footer>
  <hr />
  <p>
    <small>
      <a href="https://www.pexels.com" target="_blank"
        >Photos provided by Pexels</a
      >
    </small>
  </p>
  <h2>
    <blockquote class = "footer"><a style="text-decoration: none; color: black" href="/about">About Us</a></blockquote>
  </h2>
</footer>
