--- 
layout: layouts/aboutus.html
permalink: /about/
---
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <hr>
    <div class="seg">
        <h2>About the Project</h2>
        <p class="text">This website showcases a collection of photos using Pexels API for stock photos. 
            It also uses Eleventy to generate a static website.
            The members behind this project are Angel, John, Kingston, and Toni. 
        </p>
    </div>
    <hr>
    <div class="seg">
        <h2>Github Links</h2>
        <ul class="text">
            <li><a href="https://github.com/angelpenlza">Angel's Github</a><br></li>
            <li><a href="https://github.com/J-spark408">John's Github</a><br></li>
            <li><a href="https://github.com/leungkingston">Kingston's Github</a><br></li>
            <li><a href="https://github.com/tvirata">Toni's Github</a><br></li>
        </ul>
    </div>
</body>
</html>